<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if environment.env === "production" %}
    <link rel="stylesheet" href="./assets/css/global.css" />
    {% else %}
    <link
      rel="stylesheet"
      href="http://localhost:8888/src/assets/scss/global.scss"
    />
    {% endif %}
    <title>Document</title>
  </head>
  <body>
    <h1 class="u-border u-border-blue-500">test</h1>
    <img src="/assets/images/sample.png" alt="" />
    {% if environment.env === "production" %}
    <script type="module" src="./assets/js/main.js"></script>
    {% else %}
    <script
      type="module"
      src="http://localhost:8888/src/assets/ts/main.ts"
    ></script>
    {% endif %}
  </body>
</html>
